{% extends 'default.html' %}

{% block title %}AES{% endblock %}

{% block stylesheets %}
<style>

</style>
{% endblock %}

{% block content %}

<div class="container text-center pt-2">
    <h3>Encrypts the input based on the Advanced Encryption Standard</h3>
    <p>Text and key must be in hex format, text must be 128 bits long, key must be 128, 192, or 256 bits long</p>
</div>

<form method="post">
    {% csrf_token %}

    <div class="container input-group p-2" style="width:95%; max-width: 700px;">
        <span class="input-group-text">Text</span>
        <input type="text" name="text" value="{{previoustext}}" class="form-control">
    </div>
    <div class="container input-group p-2" style="width:95%; max-width: 700px;">
        <span class="input-group-text">Key</span>
        <input type="text" name="key" value="{{previouskey}}" class="form-control">
    </div>

    <div class="p-2 text-center">
        <button type="submit" name="encrypt" value="encrypt" class="btn btn-success btn-lg">Encrypt</button>
        <button type="submit" name="decrypt" value="decrypt" class="btn btn-success btn-lg">Decrypt</button>
        <div class="form-switch m-3">
            <input class="form-check-input" type="checkbox" id="click" name="show" {{clicked}}>
            <label class="form-check-label" for="click">Show rounds and keys</label>
        </div>
    </div>
</form>

<div class="container text-center" style="width:99%; max-width: 700px;">
    <div class="row">
        {% if not key %}
        <div class="col">
            {% for i in text %}
            <p>{{i}}</p>
            {% endfor %}
        </div>
        {% else %}
        <div class="col" style="overflow-y: scroll; height:300px;">
            {% for i in text %}
            <p>{{i}}</p>
            {% endfor %}
        </div>
        <div class="col" style="overflow-y: scroll; height:300px;">
            {% for i in key %}
            <p>{{i}}</p>
            {% endfor %}
        </div>
        {% endif %}
    </div>
</div>

{% endblock %}