{% extends 'default.html' %}

{% block title %}Base 64{% endblock %}

{% block stylesheets %}
<style>

</style>
{% endblock %}

{% block content %}

<div class="container text-center p-2">
    <h3>Convert text to and from base 64</h3>
</div>
<form method="post">
{% csrf_token %}
<div class="container input-group p-2" style="width:95%; max-width: 700px;">
    <span class="input-group-text">Data</span>
    <textarea type="text" name="text" class="form-control">{{previous}}</textarea>
</div>
<div class="p-2 text-center">
    <button type="submit" name="encode" value="convert" class="btn btn-primary btn-lg">Text -> Base64</button>
    <button type="submit" name="decode" value="revert" class="btn btn-primary btn-lg">Base64 -> Text</button>
</div>
</form>
<div class="container text-center p-2">
    {% if result %}
    <pre class="h4">Result: <span id="copy_text">{{result}}</span></pre>
    <button type="button" class="btn btn-secondary btn-sm" onclick="copyEvent('copy_text')">Copy</button>
    {% endif %}
</div>

{% endblock %}