{% extends 'default.html' %}

{% block title %}ECB{% endblock %}

{% block stylesheets %}
<style>

</style>
{% endblock %}

{% block content %}

<div class="container text-center pt-2">
    <h3>Encrypts the input based on AES or DES in ECB mode</h3>
    <p>Text and key must be in hex format, key must be 64 bits long for DES or 128, 192, or 256 bits long for AES, text can be any length</p>
</div>

<form method="post">
    {% csrf_token %}

    <div class="container input-group p-2" style="width:95%; max-width: 700px;">
        <span class="input-group-text">Text</span>
        <textarea type="text" name="text" class="form-control">{{previoustext}}</textarea>
    </div>
    <div class="container input-group p-2" style="width:95%; max-width: 700px;">
        <span class="input-group-text">Key</span>
        <input type="text" name="key" value="{{previouskey}}" class="form-control">
    </div>
    <div class="p-2 text-center">
        <button type="submit" name="aenc" value="aenc" class="btn btn-primary btn-lg">Encrypt using AES</button>
        <button type="submit" name="adec" value="adec" class="btn btn-primary btn-lg">Decrypt using AES</button>
        <button type="submit" name="denc" value="denc" class="btn btn-primary btn-lg">Encrypt using DES</button>
        <button type="submit" name="ddec" value="ddec" class="btn btn-primary btn-lg">Decrypt using DES</button>
    </div>
</form>

<div class="container text-center p-2" style="width: 90%; overflow-wrap: anywhere;">
    {% if text %}
    <pre class="h5">Result: <span id="copy_text">{{text}}</span></pre>
    <button type="button" class="btn btn-secondary btn-sm" onclick="copyEvent('copy_text')">Copy</button>
    {% endif %}
</div>

{% endblock %}