{% extends 'default.html' %}

{% block title %}El Gamal{% endblock %}

{% block stylesheets %}
<style>

</style>
{% endblock %}

{% block content %}

<div class="container text-center pt-2">
    <h3>Encrypts the input based on El Gamal Cryptography</h3>
    <p>All inputs must be numbers</p>
    <p>q must be prime, a and xA are optional but a must be relatively prime to q</p>
</div>

<form method="post">
    {% csrf_token %}

    <div class="container input-group p-2" style="width:95%; max-width: 700px;">
        <span class="input-group-text">q</span>
        <input type="text" name="q" value="{{previousq}}" class="form-control">
        <span class="input-group-text">a</span>
        <input type="text" name="a" value="{{previousa}}" class="form-control">
    </div>
    <div class="container input-group p-2" style="width:95%; max-width: 700px;">
        <span class="input-group-text">xA</span>
        <input type="text" name="xa" value="{{previousxa}}" class="form-control">
        <span class="input-group-text">yA</span>
        <input type="text" name="ya" value="{{previousya}}" class="form-control">
    </div>
    <div class="container input-group p-2" style="width:95%; max-width: 700px;">
        <span class="input-group-text">m</span>
        <input type="text" name="m" value="{{previousm}}" class="form-control">
        <span class="input-group-text">c1</span>
        <input type="text" name="c1" value="{{previousc1}}" class="form-control">
        <span class="input-group-text">c2</span>
        <input type="text" name="c2" value="{{previousc2}}" class="form-control">
    </div>
    <div class="p-2 text-center">
        <button type="submit" name="setup" value="setup" class="btn btn-primary btn-lg">Setup keys</button>
        <button type="submit" name="enc" value="enc" class="btn btn-primary btn-lg">Encrypt</button>
        <button type="submit" name="dec" value="dec" class="btn btn-primary btn-lg">Decrypt</button>
    </div>
</form>

<div class="container text-center p-2" style="width: 90%; overflow-wrap: anywhere;">
    {% if error %}
    <h5>{{error}}</h5>
    {% endif %}
</div>

{% endblock %}