{% extends 'default.html' %}

{% block title %}Home Page{% endblock %}

{% block meta %}
<meta name="description" content="A website for encryption tools and ciphers.">
<meta name="keywords" content="Encryption, Tools, Ciphers, Cryptography, AES, DES, Hill, Playfair, Viginere, Monoalphabetic, Rail Fence, Row Transposition, Caesar, Affine, Modular Inverse, Galois Field Operations, Exponentiation, ECB, CBC, OFB, Block Operations, Elliptic Curve">
{% endblock %}

{% block stylesheets %}
<style>
    .pages{
        margin: 0;
        padding-left: 1rem;
    }
    .col a, .columns a{
        text-decoration: none;
        color: black;
    }
    .col a:hover, .columns a:hover{
        color: #151fdd;
        transition: 150ms ease-out;
    }
    .columns{
        display: none;
    }
    @media screen and (max-width: 1100px) {
        .columns{
            display: block;
            width: 100%;
            margin: 0;
            padding-bottom: 1rem;
        }
        .big-screen{
            display: none;
        }
    }
</style>
{% endblock %}

{% block content %}
<div class="container p-2">
    <h3 class="text-center">Welcome to Encryption Tools!</h2>
</div>

<div class="container big-screen">
    <div class="row align-items-start">
        <div class="col">
            <h5>Tools</h5>
            <ul class="pages">
                <li><a href="/Encryption-Tools/enc_text">Encrypt English Messages</a></li>
                <li><a href="/Encryption-Tools/text_hex">Convert Between Text and Hexadecimal</a></li>
                <li><a href="/Encryption-Tools/mod_inv">Modular Inverse</a></li>
                <li><a href="/Encryption-Tools/gfo">Gallois Field Operations</a></li>
                <li><a href="/Encryption-Tools/exponentiation">Exponentation</a></li>
            </ul>
            <br>
            <h5>Ciphers</h5>
            <ul class="pages">
                <li><a href="/Encryption-Tools/caesar">Ceasar</a></li>
                <li><a href="/Encryption-Tools/affine">Affine</a></li>
                <li><a href="/Encryption-Tools/hill">Hill</a></li>
                <li><a href="/Encryption-Tools/playfair">Playfair</a></li>
                <li><a href="/Encryption-Tools/viginere">Viginere</a></li>
                <li><a href="/Encryption-Tools/monoalphabetic">Monoalphabetic</a></li>
                <li><a href="/Encryption-Tools/railfence">Rail Fence</a></li>
                <li><a href="/Encryption-Tools/rowtrans">Row Transposition</a></li>
            </ul>
        </div>
        <div class="col">
            <h5>Encryption Standards</h5>
            <ul class="pages">
                <li><a href="/Encryption-Tools/aes">AES</a></li>
                <li><a href="/Encryption-Tools/des">DES</a></li>
            </ul>
            <br>
            <h5>Block Operations</h5>
            <ul class="pages">
                <li><a href="/Encryption-Tools/ecb">ECB</a></li>
                <li><a href="/Encryption-Tools/cbc">CBC</a></li>
                <li>CFB</li>
                <li><a href="/Encryption-Tools/ofb">OFB</a></li>
                <li>CTR</li>
            </ul>
            <br>
            <h5>Elliptic Curve</h5>
            <ul class="pages">
                <li><a href="/Encryption-Tools/eco">EC operations</a></li>
                <li><a href="/Encryption-Tools/ecdh">Diffie-Hellman</a></li>
                <li><a href="/Encryption-Tools/ecc">Elliptic Curve Cryptography</a></li>
            </ul>
        </div>
        <div class="col">
            <h5>Number Theory</h5>
            <ul class="pages">
                <li><a href="/Encryption-Tools/rpt">Relative Primality Testing</a></li>
                <li><a href="/Encryption-Tools/etf">Euler Totient Function</a></li>
                <li><a href="/Encryption-Tools/mr">Miller Rabin</a></li>
                <li><a href="/Encryption-Tools/crt">Chinese Remainder Theorem</a></li>
                <li><a href="/Encryption-Tools/pr">Primitive Roots</a></li>
                <li><a href="/Encryption-Tools/dl">Discrete Logarithms</a></li>
            </ul>
            <br>
            <h5>Public Key Cryptography</h5>
            <ul class="pages">
                <li><a href="/Encryption-Tools/rsa">RSA</a></li>
                <li><a href="/Encryption-Tools/dh">Diffie-Hellman</a></li>
                <li><a href="/Encryption-Tools/elgamal">ElGamal</a></li>
                <li><a href="/Encryption-Tools/break_rsa">Break RSA</a></li>
            </ul>
            <br>
            <h5>Digital Signature</h5>
            <ul class="pages">
                <li><a href="/Encryption-Tools/dselgamal">ElGamal</a></li>
                <li><a href="/Encryption-Tools/ecdsa">ECDSA</a></li>
            </ul>
        </div>
    </div>
</div>

<div class="container">
    <div class="columns">
        <h5>Tools</h5>
        <ul class="pages">
            <li><a href="/Encryption-Tools/enc_text">Encrypt English Messages</a></li>
            <li><a href="/Encryption-Tools/text_hex">Convert Between Text and Hexadecimal</a></li>
            <li><a href="/Encryption-Tools/mod_inv">Modular Inverse</a></li>
            <li><a href="/Encryption-Tools/gfo">Gallois Field Operations</a></li>
            <li><a href="/Encryption-Tools/exponentiation">Exponentation</a></li>
        </ul>
        <br>
        <h5>Ciphers</h5>
        <ul class="pages">
            <li><a href="/Encryption-Tools/caesar">Ceasar</a></li>
            <li><a href="/Encryption-Tools/affine">Affine</a></li>
            <li><a href="/Encryption-Tools/hill">Hill</a></li>
            <li><a href="/Encryption-Tools/playfair">Playfair</a></li>
            <li><a href="/Encryption-Tools/viginere">Viginere</a></li>
            <li><a href="/Encryption-Tools/monoalphabetic">Monoalphabetic</a></li>
            <li><a href="/Encryption-Tools/railfence">Rail Fence</a></li>
            <li><a href="/Encryption-Tools/rowtrans">Row Transposition</a></li>
        </ul>
    </div>
    <div class="columns">
        <h5>Encryption Standards</h5>
        <ul class="pages">
            <li><a href="/Encryption-Tools/aes">AES</a></li>
            <li><a href="/Encryption-Tools/des">DES</a></li>
        </ul>
        <br>
        <h5>Block Operations</h5>
        <ul class="pages">
            <li><a href="/Encryption-Tools/ecb">ECB</a></li>
            <li><a href="/Encryption-Tools/cbc">CBC</a></li>
            <li>CFB</li>
            <li><a href="/Encryption-Tools/ofb">OFB</a></li>
            <li>CTR</li>
        </ul>
        <br>
        <h5>Elliptic Curve</h5>
        <ul class="pages">
            <li><a href="/Encryption-Tools/eco">EC operations</a></li>
            <li><a href="/Encryption-Tools/ecdh">Diffie-Hellman</a></li>
            <li><a href="/Encryption-Tools/ecc">Elliptic Curve Cryptography</a></li>
        </ul>
    </div>
    <div class="columns">
        <h5>Number Theory</h5>
        <ul class="pages">
            <li><a href="/Encryption-Tools/rpt">Relative Primality Testing</a></li>
            <li><a href="/Encryption-Tools/etf">Euler Totient Function</a></li>
            <li><a href="/Encryption-Tools/mr">Miller Rabin</a></li>
            <li><a href="/Encryption-Tools/crt">Chinese Remainder Theorem</a></li>
            <li><a href="/Encryption-Tools/pr">Primitive Roots</a></li>
            <li><a href="/Encryption-Tools/dl">Discrete Logarithms</a></li>
        </ul>
        <br>
        <h5>Public Key Cryptography</h5>
        <ul class="pages">
            <li><a href="/Encryption-Tools/rsa">RSA</a></li>
            <li><a href="/Encryption-Tools/dh">Diffie-Hellman</a></li>
            <li><a href="/Encryption-Tools/elgamal">ElGamal</a></li>
            <li><a href="/Encryption-Tools/break_rsa">Break RSA</a></li>
        </ul>
        <br>
        <h5>Digital Signature</h5>
        <ul class="pages">
            <li><a href="/Encryption-Tools/dselgamal">ElGamal</a></li>
            <li><a href="/Encryption-Tools/ecdsa">ECDSA</a></li>
        </ul>
    </div>
</div>

{% endblock %}