{% extends 'default.html' %}

{% block title %}Modular Inverse{% endblock %}

{% block stylesheets %}
<style>

</style>
{% endblock %}

{% block content %}

<div class="container text-center p-2">
    <h3>Get the modular inverse of a number</h3>
</div>
<form method="post">
    {% csrf_token %}
    <div class="container input-group p-2" style="width:95%; max-width: 700px;">
        <span class="input-group-text">Nb</span>
        <input type="text" name="nb" value='{{previousnb}}' class="form-control">
        <span class="input-group-text">Mod</span>
        <input type="text" name="mod" value='{{previousmod}}' class="form-control">
    </div>
    <div class="p-2 text-center">
        <button type="submit" name="invert" value="invert" class="btn btn-primary btn-lg">Get Inverse</button>
    </div>
</form>
<div class="container text-center p-2">
    {% if result %}
    <h4>Inverse: {{result}}</h4>
    {% endif %}
</div>

{% endblock %}