{% extends 'default.html' %}

{% block title %}Primitive Roots{% endblock %}

{% block stylesheets %}
<style>

</style>
{% endblock %}

{% block content %}

<div class="container text-center pt-2">
    <h3>Find the primitive roots of n</h3>
    <p>n must be an integer</p>

</div>

<form method="post">
    {% csrf_token %}
    <div class="container input-group p-2" style="width:95%; max-width: 700px;">
        <span class="input-group-text">n</span>
        <input type="text" name="n" value="{{previousn}}" class="form-control">
    </div>
    <div class="p-2 text-center">
        <button type="submit" name="compute" value="compute" class="btn btn-primary btn-lg">Get Primitive Roots</button>
    </div>
</form>

<div class="container text-center p-2" style="width: 90%; overflow-wrap: anywhere;">
    {% if result %}
    <h5>Roots:
        {% for i in result %}
        {{i}},
        {% endfor %}
    </h5>
    {% endif %}
</div>

{% endblock %}